/* reset css */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    /* chrome & safari */
    -webkit-box-sizing: border-box;
    /* firefox */
    -moz-box-sizing: border-box;
    /* microsoft */
    -ms-box-sizing: border-box;
    /* oprea */
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    /* su dung don vi css theo ti le font chu */
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
}
/* css common */
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
input, textarea, button{
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
}
/* bien css */
:root{
    --primaryColor: #65c29e;
    --headingColor: #353738;
    --textColor: #848789;
    --bgLight: #f7f7f7;
    --bgWhite: #ffffff;
}
/* warper */
.warper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url(../Image/header-bg.jpg) no-repeat center center;
    background-size: cover;
}
.header{
    min-height: 80rem;
    background-image: url('../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.nav {
    margin-top: 3.5rem;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
/* css tao dau "." trong menu */
.nav__item:first-child::after, .nav__item:nth-child(4)::after{
    content: ".";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem ;
}
.nav__link {

    font-size: 16px;
    color: var(--headingColor);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}
/* feature */
.feature__header{
    background-color: var(--bgLight);
    padding: 11.7rem 1.5rem 14.2rem ;
    text-align: center;
}
.feature__img--top{
    margin: 0 auto 3.5rem ;
    
}
.feature__heading{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 0.1rem;
    color: var(--headingColor);
    line-height: 1.6rem;
    text-align: center;
    
}
.feature__header--desc{
    color: var(--textColor);
    font-size: 1.8rem;
    line-height: 2.6rem;
    max-width: 108rem;
    margin: 0 auto;


}

.feature__item{
    display: flex;
    flex-flow: row wrap;
    height: 60rem;
    overflow: hidden;

}
.feature__item--img{
    width: 67%;
    position: relative;
}
/* css cot ben phai */
.feature__item--content{
    width: 33%;
}
/* anh nam ben trong cot ben trai */
.feature__item .img_bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* anh logo nam trong anh to */
.feature__item .img_brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.feature__item--content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* css cho cot ben tren nam trong cot ben phai */
.feature__item--content-top{
    background-color: #fff;
    padding: 0 6.8rem;
    height: 67%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.feature__item--text{
    font-size: 1.6rem;
    color: var(--textColor);
    line-height: 1.6rem;
    text-align: justify;
    padding-bottom: 4rem;
    position: relative;
    line-height: 3rem;
}
/* tao dau gach ngang duoi text */
.feature__item--text::after{
    content: "";
    position: absolute ;
    width: 5rem;
    background-color: #d7d7d7;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.feature__item--content-top::after{
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: var(--bgWhite);
    left: 50%;
    bottom: 0;
    transform: translate(-50% , 50%) rotate(-45deg);
    z-index: 2;
}

.feature__item--content-bottom{
    height: 33%;
}
/* dao vi tri cot */
.feature__item:nth-child(2) .feature__item--img{
    order: 2;
}
/* xu li css cho cac cot duoi cung */
.feature__item:last-child > .feature__item--img{
    width: 33%;
}
.feature__item:last-child > .feature__item--content{
    width: 34%;
}
/* twitter */
.twitter{
    min-height: auto;
    background-color: var(--bgLight);
    padding: 10rem 0 7rem 0;
}
.twitter__icon{
    color: #56c7ee;
    font-size: 3rem;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 3.5rem;
}
.twitter__heading{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    text-align: center;
    
}
.twitter__time{
    color: #848789;
}
.twitter__desc{
    font-size: 24px;
    margin-bottom: 10rem;
    text-align: justify;
    text-align: center;
    font-style: italic;
    color: #353738;
    font-weight: 500;
    line-height: 2.9rem;
}
.twitter__pagination{
    text-align: center;
}
.twitter__pagination li{
    display: inline-block;
    padding-left: 0.9rem;
}
.dot__active{
    color: #a9afb3;
}
.dot__trans{
    color:#a9afb3 ;
}
/* begin shop  */
.shop__box-item{
    display:flex ;
    justify-content: space-between;
    height: 53.5rem;
    overflow: hidden;
}
.image__box{
    display: flex;
    width:33.33% ;
    height: 100%;
}
.shop__box-item:first-child{
    flex-direction: column;
}
.image__content{}